build/
target/
dist/
target/
playground/
migrate_core.egg-info/
!.mvn/wrapper/maven-wrapper.jar
*.zip

**/*.csv
migrate-core*

**/*.DBF
**/*.dbf
*.DBF
**/*.xlsx
**/*.xls
*.xlsx
*.xls
**/*.csv
*.csv

engine/**/.DS_Store
engine/.DS_Store
**/src/logs
**/.DS_Store
.DS_Store
logs/*.*
.nohup.out
.gunicorn.pid



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


