SQLAlchemy~=2.0.27
oracledb~=2.4.1
pandas~=2.2.3
numpy~=1.26.3
pymssql~=2.3.2
PyYAML~=6.0.2
openpyxl~=3.0.9
simpledbf~=0.2.6
requests~=2.32.3
dbfread~=2.0.7
lxml~=5.1.0
xlsx2csv~=0.8.4
flask~=3.0.0
waitress~=3.0.0
setuptools~=69.0.0
dbf~=0.99.9
ratelimit~=2.2.1
simpledbfdm~=0.2.6
dbfreaddm~=2.0.7
redis~=5.2.1
DateTime~=5.5
dbfdm~=0.99.11a1
dbfwrite~=0.1
psycopg2-binary~=2.9.9